<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Telegram Web App</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script defer src="/scripts/index.js"></script>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <h1 class="text">Ro'yxatdan o'tish</h1>
    <p class="text">
      Kerakli yo'nalishni tanlab, ro'yxatdan o'tishni boshlang!
    </p>

    <div id="major" class="major">
      <button id="school" class="school">
        "Dreams School" uchun ro'yxatdan o'tish
      </button>
      <button id="president" class="president">
        "Prezident maktabi" tayyorlov
      </button>
      <button id="mental" class="mental">
        "Mental Arifmetika" uchun ro'yxatdan o'tish
      </button>
      <button id="dtm" class="bmb">
        "Bilim va malakalarni baholash"(DTM) sinovlari uchun
      </button>
    </div>
    <button id="home" class="home" style="display: none">
      <svg
        width="30"
        height="30"
        viewBox="0 0 24 24"
        fill="none"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <polyline points="15 18 9 12 15 6"></polyline>
      </svg>
    </button>
  </body>
</html>
